html {
  height: 100%;
  width: 100%;
}

table {
  border-collapse: collapse;
  width: 100%;
  padding-top: 20%;
}

th,
td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

th {
  background-color: #f2f2f2;
}

