body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #ffd11a;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.logo-container {
  max-width: 20%;
}

img {
  max-width: 80%;
  height: auto;
}

.input-container {
  display: flex;
  align-items: center;
}

.input-container input[type="text"],
.input-container button {
  padding: 10px;
  margin: 5px;
  font-size: 16px;
}

.table-container {
  overflow-x: auto;
  margin-top: 20px;
}

table {
  border-collapse: collapse;
  width: 100%;
  background-color: #ffdb4c;
  table-layout: fixed;
  text-align: center;
}

th,
td {
  border: 1px solid #dddddd;
  padding: 8px;
}

th {
  background-color: #ffc905;
}

.hrCustom {
  width: 100%;
  height: 1px;
  background-color: #000000;
}

@media only screen and (max-width: 767px) {
  .header-container {
    flex-direction: column;
    align-items: center;
  }

  .logo-container {
    max-width: 50%;
    margin-bottom: 10px;
  }

  .input-container input[type="text"],
  .input-container button {
    width: 100%;
  }
}
